body {
  background-color: #222222;
  color: #ffffff;
}

a {
  color: #ffffff;
}

header {
  padding: 20px;
  background-color: #333333;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  display: inline-block;
  padding: 10px;
}

nav a:hover {
  background-color: #555555;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 60px;
}

section {
  padding: 40px;
  margin-top: 40px;
  background-color: #444444;
}

img {
  height: 50%;
  width: 50%;
}

h2,
h3 {
  color: #ffffff;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}
